.create-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2px;

    p {
        padding: 6px;
        font-size: 13px;
        font-weight: 500;
        color: rgb(228 197 153);
        text-align: center;
        width: 300px;
    }

    .option {
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 280px;

        input {
            width: 50px;
            border-radius: 6px;
            margin: 4px;
            padding: 6px 10px;
            font-size: 13px;
        }
        input[readonly] {
            background-color: #5e5e5e5e;
            color: #b6b6b6;
        }
        label {
            align-content: center;
            margin: 4px;
            color: white;
            font-size: 13px;
        }

    }

    .link-type {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        color: white;
        font-size: 13px;

        span.selected {
            color: var(--color-primary);
        }
    }

    .button {
        cursor: pointer;
        flex: auto;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
       /* background: linear-gradient(180deg, rgba(34, 49, 58, 1), rgba(16, 14, 21, 1));*/
        border-radius: 8px;
        margin: 6px;
        border: 2px solid var(--color-primary);
        flex-direction: column;
        color: var(--color-primary);
        font-size: 12px;
        font-weight: 600;
        padding: 4px 6px;
    }
}
