#avatar {
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    margin: 8px 4px;
    font-weight: 600;

    > div {
        display: flex;
        align-items: center;

        .avatar {
            width: 40px;
            height: 40px;
            border: 2px solid var(--color-primary);
            border-radius: 20px;
            overflow: hidden;
        }
        .name {
            font-size: 13px;
            padding: 0 10px;
        }
        .balance {
            font-size: 13px;
        }
    }
}
