#home-view {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .greetings {
        display: flex;
        flex-direction: column;

        .logo {
            display: flex;
            align-items: center;

            .icon {
                width: 34px;
                height: 34px;
                fill: #222029;
                padding: 14px 8px;
                box-sizing: content-box;
                filter: drop-shadow(0 0px 7px var(--color-primary));
                /*filter: drop-shadow(0 0px 7px rgb(72, 183, 232));*/
            }

            .title {
                color: white;
                font-size: 18px;
                font-weight: 500;
            }
        }
        .description {
            display: none;
        }
    }
}
