.layout {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    &.fullscreen {

        #header {
            margin-top: 90px;
        }

        #footer {
            margin-bottom: 30px;
        }
    }
}
